@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #10141e;
}

::-webkit-scrollbar {
  width: 0px;
}

.trending:hover .play {
  opacity: 1;
}

.regular:hover .play {
  opacity: 1;
}

.play {
  transition: all 0.5s ease;
}
